@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,100,600,500,700,800,900);
.img {
    width: 100%;
    padding-bottom: 30px;
}

body {
    background: url("../img/mainbg.png");
    background-size: cover;
    background-repeat: no-repeat;
     -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.title {
    font-size: 60px;
    position: absolute;
    top: 16%;
    left: 16%;
    color: #B00D28;
}

.info h2 {
    color: white;
    margin-top: 12%;
    font-weight: 700;
    font-family: 'Raleway';
   
}

.info h4 {
    color: white;
    margin-top: 10%;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Raleway';
   
}

.info p {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Raleway';
    margin: 0;
    
}

.logo {
    text-align: center;
}

.logo img {
    width: 20%;
    margin: 25px auto 0 auto;
}
/*
.container {
    width: 1000px !important;
    margin: 5% auto 0;
}
*/

.auto-margin {
    margin: 0 auto;
}
.footer{
    margin-top:10px;
}
.footer p {
    color: white;
    font-size: 10px;
    padding: 5px;
    font-weight: 400;
    font-family: 'Raleway';

}

.footer span {
    font-size: 16px;
    position: relative;
    top: 2px;
}

.margin0 {
    margin: 0!important;
}

.mt0 {
    margin-top: 0!important;
}
/*
@media (min-width: 768px)
.container {
  width: 750px!important;
}*/